<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="E-Commerce Automation Suite">

    <test name="Smoke Tests">
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>

        <packages>
            <package name="com.sam.automation.tests"/>
        </packages>
    </test>

    <test name="Regression-Only Tests">
        <groups>
            <run>
                <include name="regression"/>
                <exclude name="smoke"/>
            </run>
        </groups>

        <packages>
            <package name="com.sam.automation.tests"/>
        </packages>
    </test>

</suite>